{
    "url": "http://data.goteborg.se/SelfServiceBicycleService/v1.0/Stations/<YOUR_APP_KEY>?&format=json",
    "wanted_stations": [<StationId1>, <StationId2>],
    "pushover_user": "<USER_KEY_GOES_HERE>",
    "pushover_app": "<APP_KEY_GOES_HERE>"
}
